  
nav li {
    margin-right: 10px; /* add spacing between items */
    margin-left: px;
    display: inline-block;
  }

  body{
   background-color: honeydew;
   margin: 0 auto;
   max-width: 900;
   width: 90%;
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
 nav a {
    color: darkblue;
  }
 p a {
    color: red;
    font-size: 13px;
 }
 #intro {
    font-size: 19px;
    text-align:center;
 }
 #pfp {
    margin-left: auto;
    margin-right: auto;
    display: block;
 }
 #intro2{
    text-align:center;
    font-style: italic;
 }
main{
   color:rgb(81, 7, 84)
}
header{
   color: rgb(6, 99, 99);
}
li a {
   color: #c800ff;
   text-decoration: none;
   transition: color 0.3s ease;
 }
 
 li a:hover,
 li a:focus {
   color: #0056b3;
   text-decoration: none;
 }
 
 li a:visited {
   color: #470dc7;
 }
 
 li a:active {
   color: #004085;
 }
 nav ul li:not(:last-child) a::after {
   content: " |";
   margin-left: 5px; /* Adjust the spacing as needed */
 }
 
 