@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    text-align: center;
    background-image: url(../images/sea.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    font-family: 'Lobster', cursive;
    color: darkgreen;
  }
main{
    background-color: lightblue;
    padding: 30px;
    padding-top: 5px;
    border-radius: 30px;
}
footer{
    color: blue;
}
header{
    background-color: lightyellow;
    padding-bottom: 10px;
    border-radius: 30px;
    color: rgb(255, 57, 57);
}
.mainTxt, p {
    font-size: 20px;
}
h2{
    font-size: 29px;
}
li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;;
    color: crimson;
  }
li:hover {
    background-color:skyblue ;
}
main img{
    width: 45%;
}
 p a {
    color: red;
    font-size: 13px;
}
li a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

li a:hover,
li a:focus {
  color: #0056b3;
  text-decoration: none;
}

li a:visited {
  color: #6f42c1;
}

li a:active {
  color: #004085;
}
ul li:not(:last-child) a::after {
  content: " |";
  margin-left: 10px; /* Adjust the spacing as needed */
}
