<nav>
    <ul>
        <li><a href="https://webpages.charlotte.edu/mmoody18/">CLT Web</a></li>
        <li><a href="https://github.com/mmoody18/mmoody18.github.io">GitHub</a></li>
        <li><a href="https://mmoody18.github.io/">GitHub.io</a></li>
        <li><a href="https://mmoody18.github.io/itis3135/">3135.io</a></li>
        <li><a href="https://www.freecodecamp.org/mmoody18">FreeCodeCamp</a></li>
        <li><a href="https://www.codecademy.com/profiles/mmoody18">CodeAcademy</a></li>
        <li><a href="https://www.linkedin.com/in/max-moody/">LinkedIn</a></li>
    </ul>    
</nav>
<p>
    <a href="./moodymakers.com/index.html">Designed by Moody Makers © 2025</a>, 
<i><a href="https://www.freecodecamp.org/certification/mmoody18/responsive-web-design">Certified in Responsive Web Design</a></i>
<i><a href="https://www.freecodecamp.org/certification/mmoody18/javascript-algorithms-and-data-structures-v8">Certified in JS</a></i>
</p>

<script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>   