<h1>Max Moody's Moody Manatee - ITIS 3135</h1>
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="introduction.html">Introduction</a></li>
                <li><a href="contract.html">Contract</a></li>
            </ul>
            <ul>
                <li><a href="./manateeSushi/index.html">Moody Manatee Sushi</a></li>
                <li><a href="./stuff/magikarp/graSs NoiR ].htm">CRAPPY Website</a></li>
                <li><a href="./websiteEval/website_evaluations.html">Website Evaluation</a></li>
                <li><a href="./hobby/index.html">Hobby</a></li>
                <li><a href="./tables.html">Tables</a></li>
                <li><a href="./byo_intro.html">BYO Form </a></li>
                <li><a href="./project_overview.html">Project Overview</a></li>
                <li><a href="./slideshow.html">Slideshow</a></li>
                <li><a href="./review1.html">Review 1</a></li>
                <li><a href="./review2.html">Review 2</a></li>
                <li><a href="./drawing.html">P5 Interactive Drawing</a></li>
            </ul>        
        </nav>